services:
  dev:
    build:
      context: ../
      dockerfile: dev-container/Dockerfile
    container_name: devcontainer
    hostname: devbox
    user: "1000:1000"
    stdin_open: true
    tty: true
    privileged: true  # For Docker-in-Docker
    ports:
      - "8080:8080"
    environment:
      - TERM=xterm-256color
    
    # Keep container running
    command: tail -f /dev/null

volumes:
  dev-home:
    driver: local
